// wide screens
@include mediaXl {
    .main-work {
        grid-template-columns: repeat(4, 1fr);
    }
}

// laptops and desktops
@include mediaLg {
    .main-work {
        grid-template-columns: repeat(3, 1fr);
    }
}

// tablets and small laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
        line-height: 1;
        margin-bottom: 1rem;
    }

    &#main-menu {
        overflow: hidden;
    }
  }

  ul.menu-nav, div.menu-brand {
      float: none;
      width: 100%;
      min-height: 0;

      &.show {
          transform: translate3d(0, 0, 0);
      }
  }

  .menu-nav {
      height: 70vh;
      transform: translate3d(-100%, 0, 0);
      font-size: 20px;

  }

  .menu-brand {
      height: 30vh;
      transform: translate3d(100%, 0, 0);
      font-size: 20px;

  }

  .portrait {
      background-size: 50px;
      width: 150px;
      height: 150px;
  }

  .main-about {
      grid-template-areas: 
      'bioimage'
      'bio'
      'job1'
      'job2'
      'job3';
      grid-template-columns: 1fr;
  }
  .main-work {
        grid-template-columns: repeat(2, 1fr);
    }
}

// mobiles
@include mediaSm {
    main#main-menu h1 {
        margin-top: 10vh;
    }
    .main-work {
        grid-template-columns: 1fr;
    }
}

